@inherits LayoutComponentBase
@layout CRISP.Server.Layout.MainLayout

<div class="min-h-[calc(100vh-3.5rem)] flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
        @Body
    </div>
</div>
